html, body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 0px auto;
  font-family: 'Sacramento', cursive;
}

.mi-nombre {
  padding-top: 2rem;
  font-size: 5rem;
  line-height: 2;
  color:#40514E;
}

h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

h2 {
  font-weight: normal;
margin: 1em auto;
font-size: 2.5rem;
color: #40514E;
}

h3, a {
  color: #191970;
}

.table-header {
  margin-left: auto;
  margin-right: auto;
  border-spacing: 5rem;
}

.h2-subtitulo {
  font-size: 2.5rem;
  margin:0;
  line-height: 2;
  color: #40514E;
}


.pro {
  text-decoration: underline;
}

.top-container {
  background-color: #EAF6F6;
  position: relative;
}

.img-wood {
  margin: 0;
}

.middle-container {
  background-color:
}

.profile{
  width: 20%;
  margin: 0 auto;
}

p{
  color: #40514E;
}

.skill-row {
  width: 50%;
  margin: 6.25rem auto 10rem;
  text-align: justify;
  line-height: 2;
}

.img-dev {
  width: 25%;
  float: left;
  padding-right: 1.875rem;
}

.img-dev-2 {
  width: 25%;
  float: right;
  padding-left: 1.875rem;
}
.contact-me{
margin-bottom: 4em;

}
.bottom-container {
  background-color: #66BFBF;
  height:10em;
  line-height: 3;
padding-top: 2rem;
}

.bottom-container p{
  color: #eaf6f6;
}

.bottom-container a{
  padding: 0 2em;
  color: #11999E;
}
.btn{

}

hr{
   border-style: dotted none none none;
   border-width: thick;
   width: 5%;
   border-color: grey;
   margin: 5rem auto;
}
